{% load static %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Villet | Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'static1/vendors/mdi/css/materialdesignicons.min.css'  %}">
    <link rel="stylesheet" href="{% static 'static1/vendors/css/vendor.bundle.base.css'  %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'static1/vendors/select2/select2.min.css'  %}">
    <link rel="stylesheet" href="{% static 'static1/vendors/select2-bootstrap-theme/select2-bootstrap.min.css'  %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'static1/css/style.css'  %}">
    <!-- End layout styles -->
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'dashboard'%}"><img src="{% static 'static1/images/logo.jpg'  %}" alt="logo" style="height:70px ;width:300px;"/></a>
          <a class="sidebar-brand brand-logo-mini" href=""><img src="{% static 'static1/images/logo-mini.jpg'  %}" alt="logo" style="height:60px ;width:60px;" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'static1/images/faces/face15.jpg'  %}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">{{user_data.username}}</h5>
                  <span>Gold Member</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'static1/images/logo-mini.jpg'  %}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="{% static 'static1/images/faces/face15.jpg'  %}" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{user_data.first_name}}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card" style="background-image: linear-gradient(to right, #8A2BE2, #87CEEB);">
                  <div class="card-body py-0 px-0 px-sm-3">
                      <div class="col-5 col-sm-7 col-xl-8 p-0" >
                        <h3 class="mb-1 mb-sm-0" style="padding-top: 20px; padding-bottom: 20px;">  Villet  |  Register For your new Credit Card   </h3>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <form class="forms-sample" action="adduser" method="POST"> 
              
              {% csrf_token %}

            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Personal Details</h4>
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" style="text-emphasis-color: white-space;"  id="exampleInputName1" placeholder="{{user_data.first_name}}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" name="email"   id="exampleInputEmail3" placeholder="{{user_data.email}}" readonly>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Mobile number</label>
                        <input type="text" class="form-control"  name="mobile"  id="exampleInputPassword4" placeholder="Mobile Number" required
                        pattern="[0-9]{10}" title="Please enter a 10-digit mobile number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Date of Birth</label>
                        <input type="text" class="form-control"  name="dobi"  id="exampleInputPassword4" placeholder="DD/MM/YYYY">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                        <select class="form-control"  name="gender"  id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Permanent Address</label>
                        <textarea class="form-control" id="exampleTextarea1" name="padd"   rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Temporary Address</label>
                        <textarea class="form-control" id="exampleTextarea1" name="tadd"   rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">City</label>
                        <input type="text" class="form-control" id="exampleInputCity1" name="city"   placeholder="Location">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">State</label>
                        <input type="text" class="form-control" id="exampleInputCity1" name="state"   placeholder="Location">
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Finacial Details</h4> 
                      <div class="form-group">
                        <label for="exampleInputName1">PAN Number</label>
                        <input type="text" class="form-control"  name="pan"  id="exampleInputName1" placeholder="Number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Aadhar Number</label>
                        <input type="text" class="form-control" name="aad"   id="exampleInputEmail3" placeholder="Number"required
                        pattern="[0-9]{12}" title="Please enter a 12-digit aadhar number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Credit Card Number (if you own Any)</label>
                        <input type="text" class="form-control" name="ccn"  id="exampleInputPassword4" placeholder="Number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Annual income (according to income certificate)</label>
                        <input type="text" class="form-control"  name="ai"  id="exampleInputPassword4" placeholder="Number">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Expected Credit Limit</label>
                        <input type="text" class="form-control"  name="ecl"  id="exampleInputPassword4" placeholder="Number">
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Employment Details</h4>
                      <div class="form-group">
                        <label for="exampleInputName1">Company/Business Name</label>
                        <input type="text" class="form-control"  name="cbn"  id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Designation</label>
                        <input type="text" class="form-control" name="desg"   id="exampleInputEmail3">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">No of years Employed</label>
                        <input type="text" class="form-control" name="noye"   id="exampleInputPassword4" placeholder="Number">
                      </div>
                  </div>
                </div>
              </div>
             </div>
             <button type="submit" class="btn btn-primary mr-2">Submit</button>
           </form>
          </div>
        </div>
      </div>
    </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <script>
           alert("{{ message }}") ;
          </script>
        </div>
        {% endfor %}

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'static1/vendors/js/vendor.bundle.base.js'  %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'static1/vendors/select2/select2.min.js'  %}"></script>
    <script src="{% static 'static1/vendors/typeahead.js/typeahead.bundle.min.js'  %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'static1/js/off-canvas.js'  %}"></script>
    <script src="{% static 'static1/js/hoverable-collapse.js'  %}"></script>
    <script src="{% static 'static1/js/misc.js'  %}"></script>
    <script src="{% static 'static1/js/settings.js'  %}"></script>
    <script src="{% static 'static1/js/todolist.js'  %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'static1/js/file-upload.js'  %}"></script>
    <script src="{% static 'static1/js/typeahead.js'  %}"></script>
    <script src="{% static 'static1/js/select2.js'  %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>